* {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
#navbar {
    padding: 1.2em 2.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

div#box{
    width: 40vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

fieldset{
    border-color: #4ab3c6;
    border-radius: 7px;
    width: 30vw;
    align-items: center;
    justify-content: center; 
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: #066a75;
}

div#tittle{
    width: 20vw;
    height: auto;
    border-bottom: 15px #066a75;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #066a75;
}

.hr{
    width: 100%;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, transparent, #066a75, transparent);
}

#fields{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center; 
}

#role,#salario,#birth,#email,#name,#salary{
    width: 250px;
}

#field{
    width: 100%;
}

input,select{
    display: block;
    margin-bottom: 7px;
}

.button {
  background-color: #4ab3c6;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 30px; 
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: 250px;
  margin-bottom: 2vh;
}

#salary{
    border: none;
    background-color: #cee1e4;
}

.employees {
    display: flex;
    flex-wrap: wrap;
  }

.employee {
    width: 23%;
    margin: 1%;
    text-align: center;
    margin-bottom: 1em;
  }
  
  .employee h3 {
    margin-bottom: 1em;
  }
  